<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>PortTools</string>
    <key>CFBundleIdentifier</key>
	<string>xyz.popcornnn.PortTools</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Port Tools</string>
    <key>CFBundleDisplayName</key>
    <string>Port Tools</string>
    <key>CFBundleIconFile</key>
    <string>PortTools.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(MARKETING_VERSION)</string>
    <key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
    <key>LSMinimumSystemVersion</key>
    <string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://updates.popcornnn.xyz/appcast.xml</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>R7v83mPB+RXuuN8xNCg5yFpet/9Takw6HPFcNRhFpwo=</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
